<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>

		<div class="jumbotron">
  <div class="container">
    <h1>WaheGuru Ji Ka Khalsa, WaheGuru Ji Ki Fateh</h1>
    <p>Shri Guru Ravidass Saba, Bay Area.</p>
  </div>
</div>
		<h1>Hello, </h1>
		<p>Welcome to our organization.
		</p>
		<p>
			To login to the site, just follow this link: http://www.sgrsbayarea.herokuapp.com
		</p>
	</body>
</html>